.ui.grid{
	margin: 1px!important;
}
.column{
	width:16.5%!important;
}
/* Responsive columns 
ReactDOM.render(
	<div class="ui raised very padded text container segment">
  <h2 class="ui header">Dogs Roles with Humans</h2>
  <p><?php var_dump(json_decode($myJSON));?></p>
</div>
,
        document.getElementById('JSON_Response')
      );

*/
@media screen and (max-width: 1215px) {
.column{
	width:25%!important;
}

}
@media screen and (max-width: 805px) {
.column{
	width:50%!important;
}

}
.description{

	overflow-wrap: break-word;
}
.container{
	    margin: 15px;
    overflow-wrap: anywhere;
	
}
p {
    line-height: 1.8!important;
}
